# Xcode
*.xcuserdata/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Build artifacts
build/
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/
SourcePackages/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
.inject.json
